@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Playfair+Display:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  min-height: 100vh;
  color: var(--text-color);
  background-color: var(--background-color);
}
/* =========================
   Colors
   ========================= */
:root {
  --primary-color: #852912;
  --secondary-color: #f1f1f1; 
  --text-color: #333333;
  --heading-color: #111111;
  --border-color: #e0e0e0;
  --background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  color: var(--primary-color);
  font-weight: bold;
}